@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.hotel-icon {
  background: #f68b08 url("/assets/hotel-icon.png") no-repeat center;
}

.article-image {
  display: block;
  width: 100%;
  height: 50%;
  background-position: 300px 220px !important;
  margin: 0 0 20px;
  transition: 0.3s;
}

.swal2-toast .swal2-timer-progress-bar {
  background-color: oklch(85.2% 0.199 91.936);
}

.nav-credit-icon {
  background: #e9b124 url("/assets/credit-icon.png") no-repeat center;
  outline: 1px solid #b26418;
}

.nav-ducket-icon {
  background: #c44aac url("/assets/ducket-icon.png") no-repeat center;
  outline: 1px solid #812378;
}

.nav-diamond-icon {
  background: #caf1f3 url("/assets/diamond-icon.png") no-repeat center;
  outline: 1px solid #6caff4;
}
