@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.hotel-icon {
  background: #f68b08 url("/hotel-icon.png") no-repeat center;
}
